<%- include('partials/_head') %>

<form action="/" method="post" role="form" autocomplete="off">


  <div class="container">

    <%- include('partials/index/_alert-dialog') %>

    <%- include('partials/index/_header') %>

    <%- include('partials/index/_fill-in', {topics: fillInTopics}) %>

    <%- include('partials/index/_choice', {topics: choiceTopics}) %>

    <%- include('partials/index/_multiple-choice', {topics: multipleChoiceTopics}) %>

    <%- include('partials/index/_true-false', {topics: trueFalseTopics}) %>

    <%- include('partials/index/_short-answer', {topics: shortAnswerTopics}) %>

    <div class="row">
      <div class="col-md-12 text-center">
        <input type="submit" class="btn btn-primary" id="btnSubmit" value="计算分数">
      </div>
    </div>

    <hr>

  </div>

</form>

<%- include('partials/_foot') %>
